# ðŸ§  AdventureWorks SQL Revision (Colab Edition)


Let's get started ðŸ‘‡

In [ ]:
!pip install ipython-sql==0.5.0 prettytable==3.9.0
%load_ext sql
%sql sqlite://
%config SqlMagic.style = 'PLAIN_COLUMNS'
%config SqlMagic.autopandas = True

## ðŸ§© Step 1: Create Dummy AdventureWorks Database

In [ ]:
%%sql
DROP TABLE IF EXISTS Person;
DROP TABLE IF EXISTS Employee;
DROP TABLE IF EXISTS Department;
DROP TABLE IF EXISTS SalesOrderHeader;

CREATE TABLE Person (
    BusinessEntityID INTEGER PRIMARY KEY,
    FirstName TEXT,
    LastName TEXT,
    EmailAddress TEXT
);

CREATE TABLE Employee (
    BusinessEntityID INTEGER PRIMARY KEY,
    JobTitle TEXT,
    DepartmentID INTEGER,
    HireDate TEXT
);

CREATE TABLE Department (
    DepartmentID INTEGER PRIMARY KEY,
    Name TEXT
);

CREATE TABLE SalesOrderHeader (
    SalesOrderID INTEGER PRIMARY KEY,
    OrderDate TEXT,
    CustomerID INTEGER,
    TotalDue REAL
);

INSERT INTO Department VALUES (1, 'Finance'), (2, 'Sales'), (3, 'HR');

INSERT INTO Person VALUES
(1, 'John', 'Doe', 'john.doe@email.com'),
(2, 'Jane', 'Smith', 'jane.smith@email.com'),
(3, 'Mike', 'Johnson', 'mike.johnson@email.com'),
(4, 'Emily', 'Brown', 'emily.brown@email.com');

INSERT INTO Employee VALUES
(1, 'Manager', 1, '2019-01-15'),
(2, 'Sales Representative', 2, '2020-03-01'),
(3, 'HR Coordinator', 3, '2018-07-23');

INSERT INTO SalesOrderHeader VALUES
(1001, '2024-01-10', 1, 250.75),
(1002, '2024-02-12', 2, 120.50),
(1003, '2024-02-28', 3, 540.00),
(1004, '2024-03-02', 4, 89.99);

-- Q1: Select all employees
Retrieve all rows from the Employee table.

In [ ]:
%%sql

-- Q2: List first and last names of all people.
Retrieve names from the Person table.

In [ ]:
%%sql

-- Q3: Show employees hired after 2019.

In [ ]:
%%sql

-- Q4: Join Employee with Department to show names and department names.

In [ ]:
%%sql

-- Q5: Count total number of employees in each department.

In [ ]:
%%sql

-- Q6: Find the highest TotalDue from SalesOrderHeader.

In [ ]:
%%sql

-- Q7: Show all orders where TotalDue is above 200.

In [ ]:
%%sql

-- Q8: Show the number of customers who placed orders.

In [ ]:
%%sql

-- Q9: Use a subquery to show customers whose total due is above average.

In [ ]:
%%sql

-- Q10: Show employee names and departments using multiple joins.

In [ ]:
%%sql