# DACademy Session 1: Basic GitHub + Intro to Python

## Comments and Print Statements:

In [28]:
# Welcome to DAC!
# Single-line comments use the ______
# Comments are useful for explaining code or for temporary debugging

"""
Multi-line comments are created using ______
They can span multiple lines and are often used for detailed explanations or documentation.
Hi hi hi hi hi
"""

# The print() function is used to display output

print("Hello World")

Hello World

**Keyboard Shortcuts to Run Code**


*   Mac: Command (âŒ˜) + Enter
*   Windows: Ctrl + Enter

In [29]:
# Now try printing your name!

print("Elly")

Elly

## Basic Arithmetic Operations and Data Types

In [30]:
# Arithmetic Operators: + - * / % **

# Addition +
print(7+3)

# Subtraction -
print(7-3)

# Multiplication *
print(7*3)

# Division /
print(7/3)

# Modulo % (Gives the remainder of division, e.g., 8 % 3 = 2)
print(7%3)

# Exponentiation **
print(7**3)

10
4
21
2.3333333333333335
1
343

In [31]:
# Text inside quotes is known as a string
# Can use either "" or '', both work the same
print("meow meow meow")
print('meow meow meow')

# This is to show you that the string can contain any special characters
print("!@#$%jkwewuorweprh6546846515648646546")

# Integers are whole numbers
print(7)

# Long Integers (Python automatically handles big integers)
print(2**32)

# Floats represent decimal numbers
print(3.14)

# Complex Numbers use 'j' to represent the imaginary part
print(1+2j)

meow meow meow
meow meow meow
!@#$%jkwewuorweprh6546846515648646546
7
4294967296
3.14
(1+2j)

## Boolean
*   Booleans represent one of two values: True or False.

In [32]:

  # Modulus operation gives the remainder of 10 divided by 3 (which is 1)
  # bool() converts the result of the comparison to True or False
  # This will print False since 5 is not equal to 1

  a = 5
  b = 10
  print(bool(a == b))

False

In [33]:
# Equals ==
print(5==5)
print(5==6)

# Inqual !=
print(5!=5)
print(5!=6)

# Greater than >
print(5>5)
print(5>6)

# Less than <
print(5<5)
print(5<6)

# More than and equal to >=
print(5 >= 6)

# Less than <

# Less than and equal to <=

True
False
False
True
False
False
False
True
False

In [34]:
# Using Boolean to find the Data Type of a Variable
# Use type() to find the data type of a value or variable

# A Boolean value can be either True or False.
# This checks the type of 'a' and will return <class 'bool'

a = True
print(type(a))

# Checking the type of a string
# This will return <class 'str'>, indicating it's a string.

print(type("hello"))

# Checking the type of an integer
# This will return <class 'int'>, indicating it's an integer.

print(type(7836294))

<class 'bool'>
<class 'str'>
<class 'int'>

## Converting Data types

In [35]:
# Convert a float to an integer
  # Output: 6
print(int(6.73749238490))

# Convert an integer to a float
  # Output: 3.0
print(float(3))

# Convert an integer to a string and print its type
  # Output: <class 'str'>
print(type(str(3)))

# Convert a non-zero integer to a boolean
  # Output: True (Any non-zero value is considered True
print(bool(5))

# Note on variable naming:
# It's best to avoid using function names as variable names to prevent confusion.
  # Use descriptive names for clarity
decimal_value = 3.142
print(decimal_value)


  # Keep the variable name clear and relevant
number = 5
print(number)

6
3.0
<class 'str'>
True
3.142
5

## Sequence Types: Strings, Lists, and Tuples

### Working with Strings

In [36]:
# Creating strings
name = "Elly"
print(name)

# Combining strings
  # Remember to include spaces within the quotes; otherwise, the result will be "JunYo" instead of "Jun Yo".
last_name = "H."
print(name + " " + last_name)

# Alternative Method for String Formatting
  # The numbers {0} and {1} correspond to the respective order of the variables: Jun = 0, Yo = 1.

print("{0} {1}".format(name, last_name))

Elly
Elly H.
Elly H.

### Working with Lists

*   [ ]
*   It is used to store multiple items in a single variable

Just some things to note

(Example)
In the list: list4 = [3, 1, 4, 1, 5]

*   **list4** is the **variable** that stores the list.
*   **3, 1, 4, 1, 5** are the **elements** in the list.
*   **Indexes** represent the **position** of each element, **starting from 0:**
     *   '3' is at index 0
     *   '1' is at index 1
     *   '4' is at index 2
     *   '1' is at index 3
     *   '5' is at index 4

In [37]:
 # Empty list
list1 = []
print(list1)

list2 = ["M", "E", "O", "W"]
print(list2)

mixedList = [True, "Slay", 173, 3.14] # List with different data types
print(mixedList)

[]
['M', 'E', 'O', 'W']
[True, 'Slay', 173, 3.14]

In [38]:
# Adding elements to a list using the above variables

  # Adding an integer to the list
  # Adding a string to the list
  # Output: [1, "AHH"]

list1.append(1)
print(list1)

  # Adding a string to the mixed list
  # Output: [True, 'Slay', 173, 3.14, 'AHH']

mixedList.append("AHH")
print(mixedList)

"""
Note on the append() method:

The append() method adds the element to the end of the list each time it is executed.
Calling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.
(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)
To reset the list, you can reinitialize it (rerun the code from the beginning).
"""

[1]
[True, 'Slay', 173, 3.14, 'AHH']

'\nNote on the append() method:\n\nThe append() method adds the element to the end of the list each time it is executed.\nCalling append() multiple times (i.e., running this code again) will continue to add the elements to the existing list, rather than starting over.\n(So, the same element will be added twice if you run the code twice, three times if you run it three times, and so on.)\nTo reset the list, you can reinitialize it (rerun the code from the beginning).\n'

In [39]:
# Inserting elements into a list at a specific position
# Syntax: list_.insert(position, item)

list1.insert(0, 2)
print(list1)

# Output: [2, 1]

  # Insert the number 50 at the 0th index (1st number is the position, 2nd is the element to add)
  # Output will show 50 at the start of the list

[2, 1]

In [40]:
# Deleting elements from a list

del list1[1]
print(list1)

# Output: [1]

# Using `del` to delete by index
  # Deletes the element at index 0 (1st element in the list)
  # Output: List with the 1st element removed

[2]

In [41]:
# Alternative Method for Deleting elements from a list

# Using `remove()` to delete by value
  # Removes the first occurrence of the value 50 from the list
  # Output: List without the first 50

mixedList.remove("AHH")
print(mixedList)

[True, 'Slay', 173, 3.14]

In [42]:
# List Indexing

list4 = [3,1,4,1,5]
index_list4 = list4.index(3)
print(index_list4)

  # Finds the index position of the element '3' in the list
  # Output: 0 (since '3' is at the 0th index)

0

In [43]:
# Finding minimum and maximum values in a list
  # Use the min() function to find the smallest element in list4
  # Use the max() function to find the largest element in list4

min_list4 = min(list4)
print(min_list4)

max_list4 = max(list4)
print(max_list4)

# With labels
  # Output the minimum value
print("Minimum Value:", min_list4)
print("Maximum Value:", max_list4)
  # Output the maximum value

1
5
Minimum Value: 1
Maximum Value: 5

In [44]:
listNum = [4, 2, 1, 3, 6, 5, 7]

sorted_listNum = sorted(listNum)
print(sorted_listNum)

# Output: [1, 2, 3, 4, 5, 6, 7]

 # Use the sorted() function to sort the list
 # Output the sorted list

[1, 2, 3, 4, 5, 6, 7]

In [45]:
listNum2 = [4, 2, 1, 3, 6, 5, 7]

listNum2.reverse()

print(listNum2)

 # Reverse listNum2
 # Otput the reversed list

[7, 5, 6, 3, 1, 2, 4]

In [46]:
listNum2 = [4, 2, 1, 3, 6, 5, 7]

listNum2.clear()
print(listNum2)
 # Clear all elements from the list
 # Print the cleared list

[]

In [47]:
list5 = ["M", "A", "X"]
list6 = ["V", "E", "R"]

listAdded = list5 + list6
print(listAdded)

 # Concatenate list5 and list6
 # Output the concatenated list

 # Add the two lists together
 # Output the added list

['M', 'A', 'X', 'V', 'E', 'R']

In [48]:
listNames = ["Daniel", "M"]
listMultiplied = listNames * 2
print(listMultiplied)
 # Multiply the list by 2
 # Output the multiplied list

['Daniel', 'M', 'Daniel', 'M']

### Working with Tuples
- Immutable
- It is a ordered sequence of values

In [49]:

dance = ('If you dance', 'Ill dance')
print(dance)
print(type(dance))

('If you dance', 'Ill dance')
<class 'tuple'>

In [50]:
tuplelist = list(dance)
print(tuplelist)
print(type(tuplelist))
 # Output the list
 # Check the type of 'tuplelist'

['If you dance', 'Ill dance']
<class 'list'>

In [51]:
tuplelist.append("but if you dont ill dance anyway")
print(tuplelist)

['If you dance', 'Ill dance', 'but if you dont ill dance anyway']

In [52]:
 # Convert the list 'tuplelist' back to a tuple
 # Check the value of the new tuple

new_tuple = tuple(tuplelist)
print(new_tuple)

('If you dance', 'Ill dance', 'but if you dont ill dance anyway')

In [53]:
 # Get the length of the list 'tuplelist'
 # Output of the length

length_tuplelist = len(tuplelist)
print(length_tuplelist)

3

## Working with Sets

{ }
- It is an unordered collection with no duplicate elements
- Computer implementation of the mathematical concept of a finite set
- Mutable

In [54]:
x = {"dog", "cat", "mouse"}
print(x)
print(type(x))
 # Output of the set

{'mouse', 'dog', 'cat'}
<class 'set'>

In [55]:
 # Add an element to the set
 # Output of the updated set

x.add("bird")
print(x)

{'bird', 'mouse', 'dog', 'cat'}

In [56]:
 # Remove an element from the set
 # Output of the updated set

x.remove("mouse")
print(x)

{'bird', 'dog', 'cat'}

In [57]:
z = {(1,2,3), "he he he", 2, 4.3}
print(z)
 # Output of the set

{2, (1, 2, 3), 'he he he', 4.3}

In [58]:
r = [1,2,3,4,5,6,4]
print(r)
 # Output of the original list

r_set = set(r) # Convert the list to a set (to remove duplicates)
print(r_set) # Output of the converted set


type_of_r_set = type(r_set) # Check the data type of r_set
print(type_of_r_set) # Output of the converted set

[1, 2, 3, 4, 5, 6, 4]
{1, 2, 3, 4, 5, 6}
<class 'set'>

## Working with Dictionaries

In [59]:
# Creating a dictionary to store information about a person
person = {
    "first_name": "Elly",
    "last_name": "H.",
    "age": 30,
    "city": "London",
    "student": True
}

print(person) # Outputs the entire dictionary

# Accessing a specific value using the key
print("Last Name:", person["last_name"])

# Using the get() method to retrieve a value safely
first_name = person.get("first_name")
print("First Name:", first_name)

{'first_name': 'Elly', 'last_name': 'H.', 'age': 30, 'city': 'London', 'student': True}
Last Name: H.
First Name: Elly